* {margin:0; padding:0;}


header {padding:10px;}
.left-sidebar {padding:35px;}
body {margin: 0px;}
header				  {grid-area:header;}
main 					  {grid-area:main;}
aside.left-sidebar  {grid-area:left-sidebar;}
aside.right-sidebar {grid-area:right-sidebar;}
aside.job-sidebar {grid-area:job-sidebar;}
aside.sidebar {grid-area:sidebar;}
footer 				  {grid-area:footer;}
infomine {grid-area:infomine;}


#grid {
	min-width:320px;
	max-width: 4000px;
	margin:0 auto 1px;
	min-height: 100vh;
	display: grid;

	grid-template:100px auto auto 700px 50px / 1fr;
 	grid-template-areas:"header header header"
					   "left-sidebar left-sidebar left-sidebar"  
						  "right-sidebar right-sidebar right-sidebar"
						 "main main main"
						 "infomine infomine infomine"
                       "footer footer footer";          
}



.manu-main li {
	display: inline-block; /* Строчно-блочные элементы */
	background: blue; /* Цвет фона */
	margin-right: 3px; /* Расстояние между пунктами меню */
	-webkit-transform: skewX(-30deg); /* Для Safari и Chrome */
	-moz-transform: skewX(-30deg); /* Для Firefox */
	-o-transform: skewX(-30deg); /* Для Opera */
	-ms-transform: skewX(-30deg); /* Для IE */
	transform: skewX(-30deg); /* CSS3 */
   }
  .manu-main a {
	color: #fff; /* Цвет ссылок */
	display: block; /* Блочный элемент */
	padding: 15px ; /* Поля вокруг текста */
	text-decoration: none; /* Убираем подчёркивание */
	-webkit-transform: skewX(30deg); /* Для Safari и Chrome */
	-moz-transform: skewX(30deg); /* Для Firefox */
	-o-transform: skewX(30deg); /* Для Opera */
	-ms-transform: skewX(30deg); /* Для IE */
	transform: skewX(30deg); /* CSS3 */
   }
   .manu-main li:hover {
	background: white;
	}
	
	
	.left-sidebar{
		display: grid;
		grid-template-columns: repeat(6, [col] 170px);
		grid-template-rows: repeat(2,[row] 120px);
		color: #fff;
		
	}

	.menu {
		grid-column: col 1 / span 4;
		grid-row: row 2;
		padding: 15px;
		
	}
	
	html, body {
        font-family: verdana, arial, sans-serif;
    }
	










@media only screen and (max-width:750px) 
{
	#grid {
		grid-template:100px auto auto 600px 100px / 1fr;
		grid-template-areas: "header"
                        	"left-sidebar"
							"right-sidebar"
							"main"
                        	"footer";

}
}